/*
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

body {
  font-family: 'Noto Sans JP', Helvetica, Arial, sans-serif;
}
*/

*:focus, .form-control:focus, .btn-primary.focus, .btn-primary:focus, .duet-date__input:focus {
  color: #495057;
  outline: 0;
  background-color: #fff;
  border-color: #1eb3e0;
  box-shadow: 0 0 0 0.3rem rgba(20,183,255,.5);
}

.alert {
  position: absolute;
  top: 70px;
  right: 20px;
  max-width: 30%;
}

.nav-item:hover {
  color: #333;
  text-decoration: underline;
}

/* Search dropdown and date input */
.select2-container {
  width: 100% !important;
}

.select2-container .select2-selection--single {
  height: inherit;
}

.select2-container--default .select2-selection--single {
  padding: .375rem .75rem;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  padding-left: 0;
  padding-right: 0;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 13px;
  right: 8px;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

[type=search] {
  outline-offset: initial;
}

.duet-date__input {
  border: 1px solid var(--dark);
  color: var(--dark);
  padding: 14px 60px 14px 14px;
}

.select2-container--default .select2-selection--single {
  min-height: 51px;
  padding: 14px;
  border: 1px solid var(--dark);
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: var(--dark);
  line-height: 22px;
}

/* Search dropdown max-height */
.select2-container--default .select2-results>.select2-results__options {
  max-height: 300px;
}

/* Selected date range */
.active {
  text-decoration: underline;
}

.container {
  padding-top: 1em;
}

.loading {
  display: block;
}

.loading svg {
  margin: 20px auto;
}