/*
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

body {
  font-family: 'Noto Sans JP', Helvetica, Arial, sans-serif;
}
*/

.alert {
  position: absolute;
  top: 70px;
  right: 20px;
  max-width: 30%;
}

.nav-item:hover {
  color: #333;
  text-decoration: underline;
}