{% extends 'layout.html' %}

{% block style %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block header %}
  Diary
{% endblock %}

{% block content %}

{% if session.user_id %}
<form action="/diary" method="POST">
  <div class="form-group">
    <label for="select-candy">Select candy</label>
    <select id="select-candy" class="form-control" name="select-candy">
    {% for item in candies %}
      <option value="{{ item.id }}">{{ item.name }}</option>
    {% endfor %}
    </select>
    <small id="candy-search-help" class="form-text text-muted">If candy not found, try adding it <a href="#" data-toggle="collapse" data-target="#add-candy" aria-expanded="false" aria-controls="add-candy">here</a></small>
  </div>
  <div class="collapse" id="add-candy">
    <div class="card card-body">
      <div class="form-group">
        <label for="add-candy-name">Name</label>
        <input class="form-control" type="text" name="add-candy-name" />
      </div>
      <div class="form-group">
        <label for="add-candy-company">Manufacturer</label>
        <input class="form-control" type="text" name="add-candy-company" />
      </div>
      <div class="form-group">
        <label for="add-candy-weight">Weight (g)</label>
        <input class="form-control" type="text" name="add-candy-weight" />
        <small id="add-candy-weight-help" class="form-text text-muted">Add weight of single bag, box or bar in grams.</small>
      </div>
      <div class="form-group">
        <label for="add-candy-sugar">Sugar (g)</label>
        <input class="form-control" type="text" name="add-candy-sugar" />
        <small id="add-candy-sugar-help" class="form-text text-muted">Add weight of sugar in single bag, box or bar in grams.</small>
      </div>
      <div class="form-group">
        <label for="add-candy-gtin">Global Trade Item Number (GTIN)</label>
        <input class="form-control" type="text" name="add-candy-gtin" />
        <small id="add-candy-gtin-help" class="form-text text-muted">To help identifying sweets and candies add GTIN, approx. 13 digit number under/above the barcode.</small>
      </div>
      <div class="form-group">
        <label for="add-candy-category">Category</label>
        <input class="form-control"type="text" name="add-candy-category" />
      </div>
    </div>
  </div>
  <div class="form-group col-sm-3 px-sm-0">
    <input type="date" class="form-control" name="candy-date" />
  </div>
  <input type="hidden" name="tokenc" value="{{ session.tokenc }}" />
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endif %}

<canvas id="barChart" class="my-4 w-100 chartjs-render-monitor" width="1100" height="400"></canvas>

{% endblock %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script type="text/javascript">
  let entries = [{% for e in entries %}{
        "date": "{{ e.entry_time }}",
        "total": {{ e.total }}
      },{% endfor %}];
</script>
<script src="{{ url_for('static', filename='chart.js') }}"></script>
{% endblock %}