{% extends 'layout.html' %}

{% block style %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@duetds/date-picker@1.0.1/dist/duet/themes/default.css" />
{% endblock %}

{% block header %}
  Diary
{% endblock %}

{% block content %}
<div class="col-lg-4 order-last">
{% if session.user_id %}
<div class="card card-body">
  <h5 class="card-title">Add new entry</h5>
  <form action="/diary" method="POST">
    <div class="form-group">
      <label for="select-candy">Select candy</label>
      <select id="select-candy" class="form-control" name="select-candy">
      {% for item in candies %}
        <option value="{{ item.id }}">{{ item.name }}</option>
      {% endfor %}
      </select>
      <small id="candy-search-help" class="form-text text-muted">If candy not found, create entry with new by clicking <a href="#" data-toggle="collapse" data-target="#add-candy" aria-expanded="false" aria-controls="add-candy">here</a></small>
    </div>
    <div class="form-group collapse" id="add-candy">
      <div class="card card-body">
        <div class="form-group">
          <label for="add-candy-name">Name</label>
          <input class="form-control" type="text" name="add-candy-name" />
        </div>
        <div class="form-group">
          <label for="add-candy-company">Manufacturer</label>
          <input class="form-control" type="text" name="add-candy-company" />
        </div>
        <div class="form-group">
          <label for="add-candy-weight">Weight (g)</label>
          <input class="form-control" type="text" name="add-candy-weight" />
          <small id="add-candy-weight-help" class="form-text text-muted">Add weight of single bag, box or bar in grams.</small>
        </div>
        <div class="form-group">
          <label for="add-candy-sugar">Sugar (g)</label>
          <input class="form-control" type="text" name="add-candy-sugar" />
          <small id="add-candy-sugar-help" class="form-text text-muted">Add weight of sugar in single bag, box or bar in grams.</small>
        </div>
        <div class="form-group">
          <label for="add-candy-gtin">Global Trade Item Number (GTIN)</label>
          <input class="form-control" type="text" name="add-candy-gtin" />
          <small id="add-candy-gtin-help" class="form-text text-muted">To help identifying sweets and candies add GTIN, approx. 13 digit number under/above the barcode.</small>
        </div>
        <div class="form-group">
          <label for="add-candy-category">Category</label>
          <input class="form-control"type="text" name="add-candy-category" />
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="date">Choose a date</label>
      <duet-date-picker name="candy-date" identifier="date" value="2020-09-22" max="2020-09-22"></duet-date-picker>
      <small id="candy-date-help" class="form-text text-muted">dd-mm-yyyy</small>
    </div>
    <input type="hidden" name="tokenc" value="{{ session.tokenc }}" />
    <button type="submit" class="btn btn-primary btn-lg">Submit</button>
  </form>
</div>
{% endif %}
</div>
<div class="col-lg-8">
  <div class="chart-container my-4">
    <canvas id="barChart"></canvas>
  </div>
  <div class="form-group">
    <div class="btn-group" role="group" aria-label="Date range">
      <button type="button" class="btn btn-secondary active" id="range-7">Last 7 days</button>
      <button type="button" class="btn btn-secondary" id="range-14">Last 14 days</button>
      <button type="button" class="btn btn-secondary" id="range-31">Last month</button>
      <button type="button" class="btn btn-secondary" id="range-92">Last 3 months</button>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script type="module" src="https://cdn.jsdelivr.net/npm/@duetds/date-picker@1.0.1/dist/duet/duet.esm.js"></script>
<script nomodule src="https://cdn.jsdelivr.net/npm/@duetds/date-picker@1.0.1/dist/duet/duet.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script type="text/javascript">
  let entries = [{% for e in entries %}{
        "date": "{{ e.entry_time }}",
        "total": {{ e.total }}
      },{% endfor %}];
</script>
<script src="{{ url_for('static', filename='chart.js') }}"></script>
{% endblock %}
