{% extends 'layout.html' %}

{% block style %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@duetds/date-picker@1.0.1/dist/duet/themes/default.css" />
{% endblock %}

{% block header %}
  Diary
{% endblock %}

{% block content %}
<div class="col-lg-4 order-lg-12">
{% if session.user_id %}
<div class="card card-body">
  <h5 class="card-title">Add new entry</h5>
  <form action="/diary" id="diary-form" method="POST">
    <div class="form-group">
      <label for="select-candy">Select candy</label>
      <select id="select-candy" class="form-control" name="select-candy">
        <option></option>
      {% for item in candies %}
        <option value="{{ item.id }}">{{ item.name }} ({{ item.size }} g) - {{ item.company }}</span></option>
      {% endfor %}
      </select>
      <small id="candy-search-help" class="form-text text-muted">If candy not found, create entry with new by clicking <a href="#" data-toggle="collapse" data-target="#add-candy" aria-expanded="false" aria-controls="add-candy">here</a></small>
    </div>
    <div class="form-group collapse" id="add-candy">
      <div class="card card-body">
        <div class="form-group">
          <label for="add-candy-name">Name</label>
          <input class="form-control" type="text" name="add-candy-name" />
        </div>
        <div class="form-group">
          <label for="add-candy-company">Manufacturer</label>
          <input class="form-control" type="text" name="add-candy-company" />
        </div>
        <div class="form-group">
          <label for="add-candy-weight">Weight (g)</label>
          <input class="form-control" type="number" min="1" max="6000" name="add-candy-weight" />
          <small id="add-candy-weight-help" class="form-text text-muted">Add weight of single bag, box or bar in grams.</small>
        </div>
        <div class="form-group">
          <label for="add-candy-sugar">Sugar (g)</label>
          <input class="form-control" type="number" min="1" max="6000" name="add-candy-sugar" />
          <small id="add-candy-sugar-help" class="form-text text-muted">Add weight of sugar in single bag, box or bar in grams.</small>
        </div>
        <div class="form-group">
          <label for="add-candy-gtin">Global Trade Item Number (GTIN)</label>
          <input class="form-control" type="number" min="100000000000" max="99999999999999" name="add-candy-gtin" />
          <small id="add-candy-gtin-help" class="form-text text-muted">To help identifying sweets and candies add GTIN, approx. 13 digit number under/above the barcode.</small>
        </div>
        <div class="form-group">
          <label for="add-candy-category">Category</label>
          <input class="form-control"type="text" name="add-candy-category" />
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="date">Choose a date</label>
      <duet-date-picker name="candy-date" identifier="date" value="2022-02-22" max="2022-03-22"></duet-date-picker>
      <small id="candy-date-help" class="form-text text-muted">dd.mm.yyyy</small>
    </div>
    <input type="hidden" name="tokenc" value="{{ session.tokenc }}" />
    <button type="submit" id="diary-submit" class="btn btn-primary btn-lg">Submit</button>
  </form>
</div>
{% endif %}
</div>
<div class="col-lg-8 order-lg-1">
  <div class="chart-container my-4">
    <canvas id="barChart"></canvas>
    <span class="loading"><svg viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg" width="15" height="15"><path d="M8 1V.5H7V1h1zM7 4.5V5h1v-.5H7zm1 6V10H7v.5h1zM7 14v.5h1V14H7zM4.5 7.995H5v-1h-.5v1zm-3.5-1H.5v1H1v-1zM14 8h.5V7H14v1zm-3.5-1.005H10v1h.5v-1zM7 1v3.5h1V1H7zm0 9.5V14h1v-3.5H7zM4.5 6.995H1v1h3.5v-1zM14 7l-3.5-.005v1L14 8V7zM2.147 2.854l3 3 .708-.708-3-3-.708.708zm10-.708l-3 3 .708.708 3-3-.708-.708zM2.854 12.854l3-3-.708-.708-3 3 .708.708zm6.292-3l3 3 .708-.708-3-3-.708.708z" fill="currentColor"></path></svg> Loading graph</span>
  </div>
  <div class="form-group text-center">
    <div class="btn-group" role="group" aria-label="Date range">
      <button type="button" class="btn btn-secondary active" id="range-7">Last 7 days</button>
      <button type="button" class="btn btn-secondary" id="range-14">Last 14 days</button>
      <button type="button" class="btn btn-secondary" id="range-31">Last month</button>
      <button type="button" class="btn btn-secondary" id="range-92">Last 3 months</button>
    </div>
  </div>
  <h4 class="h4 my-4">Your stats</h4>
  <div class="row row-cols-1 row-cols-md-2">
    <div class="col mb-4">
      <div class="card">          
        <div class="card-body">
          <h5 class="card-title" id="amount-of-entries">
            {%+ if user_data.count %}{{ user_data.count }}{% else %}No values{% endif %}
          </h5>
          <p class="card-text">Total amount of entries</p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">          
        <div class="card-body">
          <h5 class="card-title" id="amount-of-candies">
            {%+ if user_data.sum %}{{ user_data.sum }} kg{% else %}No values{% endif %}
          </h5>
          <p class="card-text">Amount of candies consumed</p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">          
        <div class="card-body">
          <h5 class="card-title" id="amount-of-sugar">
            {%+ if user_data.sugar %}{{ user_data.sugar }} kg{% else %}No values{% endif %}
          </h5>
          <p class="card-text">Amount of sugar consumed</p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">          
        <div class="card-body">
          {%+ if user_data.diff %}<h5 class="card-title{%+ if user_data.diff < 0 %} text-success{% else %} text-danger{% endif %}" id="difference">{%+ if user_data.diff > 0 %}+{% endif %}{{ user_data.diff }} g</h5>{% else %}<h5 class="card-title">No values</h5>{% endif %}
          <p class="card-text">Difference in candy consumption between last 7 days and 7 days prior</p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<div class="row">
  <div class="col-lg-8">
    <h4 class="h4 my-4">All entries</h4>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Candy</th>
          <th scope="col">Date (dd.mm.yyyy)</th>
          <th scope="col">Remove</th>
        </tr>
      </thead>
      <tbody>
        {% for a in all_entries %}<tr>
          <td>{{ a.name }}</td>
          <td>{{ a.entry_time }}</td>
          <td><a href="/entries/{{ a.id }}/delete" class="btn btn-danger"><svg viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg" width="15" height="15"><path d="M4.5 3V1.5a1 1 0 011-1h4a1 1 0 011 1V3M0 3.5h15m-13.5 0v10a1 1 0 001 1h10a1 1 0 001-1v-10M7.5 7v5m-3-3v3m6-3v3" stroke="currentColor"></path></svg></a></td>
        </tr>{% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}

{% block script %}
<script type="module" src="https://cdn.jsdelivr.net/npm/@duetds/date-picker@1.0.1/dist/duet/duet.esm.js"></script>
<script nomodule src="https://cdn.jsdelivr.net/npm/@duetds/date-picker@1.0.1/dist/duet/duet.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script type="text/javascript">
  let entries = [{% for e in daily_entries %}{
    "date": "{{ e.entry_time }}",
    "total": {{ e.total }}
  },{% endfor %}];

  $(document).ready(function(){
    $('#diary-submit').click(function(e){
      e.preventDefault()
      console.log('lisäys pvm: ', $('[name=candy-date]').val());
      let sub = true
      $('[name=add-candy-name]').val(function(n,c){
        return c.trim()
      })
      console.log('uuden karkin nimi: ', $('[name=add-candy-name]').val())
      if ($('#select-candy').val() === '' && $('[name=add-candy-name]').val().length === 0){
        console.log("select-candy ja add-candy-name tyhjiä")
        $('#select-candy').addClass('is-invalid')
        $('[name=add-candy-name]').addClass('is-invalid')
        sub = false
      }else{
        $('#select-candy').removeClass('is-invalid')
        $('[name=add-candy-name]').removeClass('is-invalid')
      }
      if(sub){
        $('#diary-form').submit()
      }
    })
  })
</script>
<script src="{{ url_for('static', filename='chart.js') }}"></script>
{% endblock %}
