{% extends 'layout.html' %}

{% block header %}
  Groups
{% endblock %}

{% block content %}
{% if create %}
  <div class="col-lg-4 order-lg-12">
    <div class="card card-body">
      <h5 class="card-title">Create new group</h5>
      <form action="/groups" method="POST">
          <div class="form-group">
            <label for="group-name">Group name</label>
            <input type="text" class="form-control" id="group-name" name="group-name" required>
          </div>
          <input type="hidden" name="tokenc" value="{{ session.tokenc }}" />
          <button type="submit" class="btn btn-primary mb-2">Create group</button>
      </form>
    </div>
  </div>
{% endif %}
  <div class="col-lg-8 order-lg-1">
    <h5 class="h5">Groups you're currently in</h5>
    <ul class="list-group">
      {% for g in groups %}
      <a class="list-group-item list-group-item-action" href="/groups/{{ g.id }}">{{ g.name }}</a>
      {% endfor %}
    </ul>
    <hr />
    <h2>Other public groups</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Group name</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {%+ for p in public_groups %}
        <tr>
          <td>
            {{ p.name }}
          </td>
          <td>
            <a href="/groups/{{ p.id }}/request" class="btn btn-primary"><svg viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg" width="15" height="15"><path d="M7.5 1v13M1 7.5h13" stroke="currentColor"></path></svg> Request</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}