{% extends 'layout.html' %}

{% block header %}
  {{ group_info.name }}
{% endblock %}

{% block content %}
{% if notification %}
<div class="col-lg-8">
  <p>No access</p>
  <a href="/groups">&laquo; Back to Groups</a>
</div>
{% else %}
<div class="col-lg-8">  
  {%+ if group_info.requests %}<h3 class="h3">Requests</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Username</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for r in group_info.requests %}
      <tr>
        <td>
          {{ r }}
        </td>
        <td>
          <a href="/groups/{{ group_id }}/accept/{{ r }}" class="btn btn-success"><svg viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg" width="15" height="15"><path d="M7.5 1v13M1 7.5h13" stroke="currentColor"></path></svg></a>&nbsp;<a href="/groups/{{ group_id }}/reject/{{ r }}" class="btn btn-danger"><svg viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg" width="15" height="15"><path d="M4.5 3V1.5a1 1 0 011-1h4a1 1 0 011 1V3M0 3.5h15m-13.5 0v10a1 1 0 001 1h10a1 1 0 001-1v-10M7.5 7v5m-3-3v3m6-3v3" stroke="currentColor"></path></svg></a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
  <h2>
    Challenges
  </h2>
  <hr />
  <h2>Messages</h2>
  {%+ for mes in messages %}
    <div style="">
      <span style="color:#999;font-size:12px;">({{ mes.timestamp }})</span> <span style="color:#666;">{{ mes.username }}</span>: <span style="color:#222;">{{ mes.content }}</span>
    </div>
  {% endfor %}
  <form action="/groups/{{ group_id }}/send" method="POST">
    <input type="hidden" name="tokenc" value="{{ session.tokenc }}" />
    <div class="input-group my-3">
      <input type="text" class="form-control" placeholder="Send a message" aria-label="Send a message" aria-describedby="send-msg" name="msg" required>
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="submit" id="send-msg">Send</button>
      </div>
    </div>
  </form>
  {%+ if group_admin %}<hr />
  <h3 class="h3">Users</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Username</th>
        <th scope="col">Remove user</th>
      </tr>
    </thead>
    <tbody>
      {% for m in group_info.members %}
      <tr>
        <td>
          {{ m }}
        </td>
        <td>
          <a href="/groups/{{ group_id }}/remove/{{ m }}" class="btn btn-danger"><svg viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg" width="15" height="15"><path d="M4.5 3V1.5a1 1 0 011-1h4a1 1 0 011 1V3M0 3.5h15m-13.5 0v10a1 1 0 001 1h10a1 1 0 001-1v-10M7.5 7v5m-3-3v3m6-3v3" stroke="currentColor"></path></svg></a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <hr />
  <h3 class="h3">Make group {%+ if group_info.open %}private{% else %}open{% endif %}</h3>
  <p>
    <a href="/groups/{{ group_id }}/public">Go {%+ if group_info.open %}private{% else %}open{% endif %}</a>
  </p>
  {% endif %}
  <hr />
  <h3 class="h3">Quit this group</h3>
  <a href="/groups/{{ group_id }}/remove/{{ session.username }}">Quit this group</a>
</div>
{% endif %}
{% endblock %}