<title>Etusivu</title>
<h1>Etusivu</h1>
<p>{{ message }}</p>
<ul>
{% for item in items %}
<li> {{ item }}
{% endfor %}
</ul>
<br/>
<hr/>
{% if session.username %}
  <p>Logged in as {{ session.username }}</p>
  <a href="/logout">Logout</a>
{% else %}
  <form action="/login" method="POST">
    <legend>
      <label for="username">Username</label>
      <input type="text" name="username" />
      <label for="password">Password</label>
      <input type="password" name="password" />
      <input type="submit" value="Login" />
    </legend>
  </form>
{% endif %}