{% extends 'layout.html' %}

{% block header %}
  Create new user
{% endblock %}

{% block content %}
<div class="col-lg-8">
  <form action="/register" method="POST" id="reg">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" name="reg-username" value="{{ username }}" aria-describedby="username-validation-feedback" required />
      <small id="username-help" class="form-text text-muted">Min. 2 chars, max. 30. Tabs and spaces in username will be removed.</small>
      <div id="username-validation-feedback" class="invalid-feedback">
        Please provide valid username
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" name="reg-password" aria-describedby="pass-validation-feedback" required />
      <small id="password-help" class="form-text text-muted">Min. 6 chars.</small>
      <div id="pass-validation-feedback" class="invalid-feedback">
        Please provide valid password
      </div>
    </div>
    <div class="form-group">
      <label for="password_again">Password again</label>
      <input type="password" class="form-control" name="reg-password_again" aria-describedby="pass2-validation-feedback" required />
      <div id="pass2-validation-feedback" class="invalid-feedback">
        Passwords mismatch
      </div>
    </div>
    <button type="submit" id="reg-submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
  // Check form input with JS before submitting the form
  $('#reg-submit').click(function(e){
    e.preventDefault()
    let sub = true
    let username = $('[name=reg-username]')
    username.val(function(n,c){
      return c.replace(/\s/gi, '')
    })
    if(username.val().length < 2 || username.val().length > 30){
      username.addClass('is-invalid')
      sub = false
    }else{
      username.removeClass('is-invalid')
    }
    let pass1 = $('[name=reg-password]')
    let pass2 = $('[name=reg-password_again]')
    if(pass1.val().length > 5){
      pass1.removeClass('is-invalid')
    }else{
      pass1.addClass('is-invalid')
      sub = false
    }
    if(pass1.val() === pass2.val()){
      pass2.removeClass('is-invalid')
    }else{
      pass2.addClass('is-invalid')
      sub = false
    }
    console.log('username: ' + username.val())
    console.log('pass: ' + pass1.val())
    if(sub){
      $('form#reg').submit()
    }
  })
</script>
{% endblock %}