{% extends 'layout.html' %}

{% block header %}
  Create new user
{% endblock %}

{% block content %}

<form action="/users/create" method="POST">
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control" name="username" value="{{ username }}" />
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" name="password" />
  </div>
  <div class="form-group">
    <label for="password_again">Password again</label>
    <input type="password" class="form-control" name="password_again" />
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}